<br>
<div class="container">
	<div class="row">
		<div class="col-sm-12 text-center user_detail">
			<img src="http://via.placeholder.com/150x150" class="img-responsive img-circle profile_img">
			<span>Welcome,</span>
			<h4><%= user.fullname %></h4>
		</div>
	</div><!--/row-->

	<div class="row">
		<div class="col-sm-3 menu-tile">
			<i class="fa fa-building-o"></i>
			<h3>Add Companies</h3>
			<p>Create company profile, to enable customer leave rating/reviews.</p>
			<a href="/company/new" class="btn btn-primary btn-block">Add</a>
		</div><!--/col-->

		<div class="col-sm-3 menu-tile">
			<i class="fa fa-bars"></i>
			<h3>Leaderboard</h3>
			<p>View the list of highly rated businesses in our catalogue.</p>
			<a href="#" class="btn btn-default btn-block">View</a>
		</div><!--/col-->

		<div class="col-sm-3 menu-tile">
			<i class="fa fa-star"></i>
			<h3>Rate</h3>
			<p>Rate and review companies in our business catalogue.</p>
			<a href="#" class="btn btn-info btn-block">Rate</a>
		</div><!--/col-->

		<div class="col-sm-3 menu-tile">
			<i class="fa fa-search"></i>
			<h3>Search</h3>
			<p>Search through our business catalogue and find your best partners.</p>
			<a href="#" class="btn btn-warning btn-block">Search</a>
		</div><!--/col-->
	</div><!--/row-->
</div>