<header id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="header">
          <h1>Welcome to RateMe</h1>
          <p class="intro-text">Signup to start Rating Local Businesses.</p>
          <%if(!user){%>
            <p>
              <a href="/signup" class="btn btn-default"><i class="fa fa-user-plus"></i> Signup</a>
              <a href="/login" class="btn btn-info"><i class="fa fa-sign-in"></i> Login</a>
            </p>
          <%}%>
          <p><a href="#" class="fa fa-arrow-circle-o-down fa-3x"></a></p>
        </div>
      </div>
    </div><!--/row-->
  </div><!--/container-->
</header><!-- /header -->